.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 2px 10px;
    font-family: 'Cutive Mono', monospace;
  }

#upper{
  font-family: 'Shadows Into Light', cursive;
  color: white;
  text-align: center;
  font-size: 2vw;
  padding: 0%;
  margin: 0;
}

#sol-btn{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 2px 10px;
  font-family: 'Cutive Mono', monospace;
}

.row{
  display: block;
  margin: 0;
  text-align: center;
}

h1{
  text-align: center;
  color: white;
  margin-bottom: 0;
  font-size: 3.5vw;
  font-family: 'Shadows Into Light', cursive;
}

#score{
  text-align: right;
  font-size: 2vw;
  padding-right: 15vw;
  color: white;
  font-family: 'Shadows Into Light', cursive;
}

body{
  background-color: black;
}

.lower{
  text-align: center;
  margin-top: 10px;
}

#refresh-btn{
  background: none;
  color: #ffffff;
  border: 10px;
  border-color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

#reveal-sol{
  background: none;
  color: #ffffff;
  border: 10px;
  border-color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

#refresh-btn:hover {
  background-color: #ffffff;
  color: #0c0c0d;
}

#reveal-sol:hover {
  background-color: #ffffff;
  color: #0c0c0d;
}